*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}
.title{
    text-align: center;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 100px;
}
.content{
    max-width: 700px;
}
/* This targets what comes after the .content */
.content + .content{
    border-top: 1px solid rgb(200, 200, 200);
    margin-block: 50px;
    padding-block: 50px;
}
.content .title{
    font-size: 36pt;
    margin-block: 10px;
}
.content p{
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: justify;
}
.content .blog-image{
    width:800px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.is-invalid {
    border: 1px solid red;
    background: rgba(255,0,0,0.05);
}
.animation-success-message{
    transition: .5s;
    animation: success-message-in 1s ease-in-out, success-message-out 1s 3.5s ease-in-out;                                                                          
}

@keyframes success-message-in {
    0%{
        right: -500px;
    }
    100%{
        right: 2.5rem;
    }
}
@keyframes success-message-out {
    0%{
        right: 2.5rem;
    }
    100%{
        right: -500px;
    }
}